snippet frame
	\begin{frame}{${1}}
		${2}
	\end{frame}
snippet image
	\includegraphics[width=\textwidth]{${1}}
snippet -
	\begin{itemize}
		\item ${1}
	\end{itemize}
snippet s
	\section{${1}}
snippet ss
	\subsection{${1}}
