snippet work
	# Checklist

	- [ ] Place phone in another room
	- [ ] Turn on ambient playlist
	- [ ] Prepare water
	- [ ] Prepare tea
	- [ ] Decide on timeframe: ${1} hours
	- [ ] Decide on a task: ${2}
	- [ ] Steps:
	    - [ ] ${3}
