#calendar-task-box > vbox {
    -moz-box-orient: horizontal;
}

#calendar-task-view-splitter {
    width: 5px;
}

#calendar-task-tree {
    min-width: 300px;
}

#event-grid-location-row,
#event-grid-recurrence-row,
#event-grid-recurrence-separator,
#event-grid-alarm-row,
#event-grid-alarm-separator,
#event-grid-tabs,
#event-grid-tabbox-separator {
    display: none;
}
