/***********************************
 ************** COMMON *************
 ***********************************/

#nav-bar { /* Monospace font in nav bar 8) */
    font-family: monospace;
}
.bookmark-item .toolbarbutton-icon { /* Hide Bookmark Icons */
    display: none;
}
/* Hide Pocket/Bookmark icons */
#star-button-box, #pageActionSeparator {
    display: none;
}
#pageActionButton {
    list-stype-image: none;
}
/***********************************
 ************ INDIVIDUAL ***********
 ***********************************/

/* Black theme */
/*
#nav-bar { background-color: black !important; }
#urlbar { background: black !important; }
*/
/*
#navigator-toolbox .toolbarbutton-icon,
#navigator-toolbox .toolbarbutton-1,
#navigator-toolbox .urlbar-icon,
#navigator-toolbox .bookmark-item,
#navigator-toolbox #identity-box {
    opacity: 0;
    transition: opacity 0.1s ease;
}
#navigator-toolbox:hover .toolbarbutton-icon,
#navigator-toolbox:hover .toolbarbutton-1,
#navigator-toolbox:hover .urlbar-icon,
#navigator-toolbox:hover .bookmark-item,
#navigator-toolbox:hover #identity-box {
    opacity: 1;
    transition: opacity 0.1s ease;
}
*/

/* Minimal theme in full screen */
@media only screen and (min-height: 1080px) {
    /* Hide navigation bar in full screen */
    #urlbar {
        opacity: 0;
        transition: opacity 0.1s ease;
    }
    #navigator-toolbox:hover #urlbar {
        opacity: 1;
        transition: opacity 0.1s ease;
    }

    /* Hide scroll bar in full screen.  wow this is a shitty hack... */
    #content browser {
        margin-right: -17px !important;
        margin-bottom: -17px !important;
    }
}

/* Other */
/*
#TabsToolbar {
    visibility: collapse;
}
#tabbrowser-tabs {
  visibility: collapse !important;
}*/
#titlebar {
    display: none;
}

/* Tab Center Redux Tweaks */
/*
#sidebar-header {
  display: none;
}
#sidebar-splitter {
    width: 3px !important;
    background-color: #333 !important;
    border-style: none !important;
}
#sidebar-box {
  overflow: hidden;
  min-width: 32px;
}
*/
